
#main {
    float: left;
    margin: 0 5%;
    width: 60%;
    background-color: aquamarine;
    
}

#extras {
    float: left;
    margin: 0 5% 0 0;
    width: 60%;
    background-color: cornflowerblue;
}

#footer {
    clear: left;
    background-color: cadetblue;
}

#header {
    background-color: blue;
}